@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}

body{
	background-color: #434ec5;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10rem;
	padding: 5rem;
	background-color: hsla(239, 46%, 43%, 0.431);
	border-radius: 20px;
	height: 65vh;
	max-height: 100%;
}

.container h1{
	color: #fff;
	font-size: 50pt;
	padding: 3rem;
	font-weight: bold;
	text-align: center;
}

.container button{
	border: none;
	padding: 2rem;
	border-radius: 20px;
	font-size: 20pt;
	font-weight: bold;
	cursor: pointer;
}

.container button:hover{
	transform: scale(1.2);
	transition-duration: 1s;
}